// app global css in SCSS form
@import 'fluid-typography';

body {
  background-color: whitesmoke;
}

// custom colors
.text-white {
  color: $white;
}

.bg-white {
  background: $white;
}

.text-primary-dark {
  color: #303F9F;
}

.bg-primary-dark {
  background: #303F9F;
}

.text-primary-light {
  color: #C5CAE9;
}

.bg-primary-light {
  background: #C5CAE9;
}

.text-shadow {
  text-shadow: 1px 1px 6px black;
}

// toast notifications close icon
.q-notification__actions {
  color: $white;

  button div div::before {
    content: "\2716";
  }
}

.q-notification__message {
  font-size: 1rem;
}

.line-height-3 {
  line-height: 3rem;
  // top: 6.125rem;
}

// page transitions

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}